.button {
  all: unset;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s;
}

.button:hover {
  opacity: .5;
}

.button_telegram {
  background: url(../../images/telegram-icon.svg) center center no-repeat;
}

.button_viber {
  background: url(../../images/viber-icon.svg) center center no-repeat;
}

.button_whatsapp {
  background: url(../../images/whatsapp-icon.svg) center center no-repeat;
}