.app-container {
  margin: 0 auto;
  padding: 46px 0 20px;
  max-width: 1140px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 90px 0 69px;
}

.main__main-content {
  max-width: 362px;
}

.text {
  margin: 0;
  color: #e4e5ea;
}

.text_heading {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
}

.text_decorated_primary {
  font-weight: 900;
  background: linear-gradient(100deg, #fcb045 30%, #ff3f78 130%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.text_decorated_secondary {
  margin: 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.text_decorated_secondary-red {
  background: linear-gradient(to right, #fcb045, #fd1d1d 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text_decorated_secondary-yellow {
  margin-left: 0;
  background: linear-gradient(to right, #fcb045 70%, #fd1d1d 120%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text_lower-case {
  margin-right: 10px;
  text-transform: lowercase;
}

.text_thin {
  max-width: 275px;
  margin-top: 30px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.text_common {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: end;
}

.main__services {
  display: flex;
  flex-direction: column;
}

.main__free-services {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 30px;
  max-width: 330px;
  margin: 40px 0 0;
  padding: 0;
}

@media screen and (max-width: 1141px) {
  .app-container {
    padding: 46px 20px 20px;
  }
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  .app-container {
    padding-top: 20px;
  }
  
  .main {
    padding-top: 50px
  }
  
  .text_heading {
    font-size: 45px;
    line-height: 52px;
  }
  
  .text_common,
  .text_thin {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 715px) {
  .main__free-services {
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin-top: 25px;
  }
}

@media screen and (max-width: 673px) {
  .app-container {
    padding: 0 0 20px;
  }
  
  .main {
    padding: 50px 20px 20px;
    flex-direction: column;
    gap: 45px 0;
    background: url(../../images/background-image-small.png) center center no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 420px) {
  .main {
    padding: 40px 15px 59px;
  }
  
  .text_heading {
    font-size: 36px;
    line-height: 44px;
  }
  
  .text_decorated_secondary {
    text-transform: none;
  }
  
  .text_decorated_secondary-red {
    background: linear-gradient(to right, #fcb045 40%, #fd1d1d 140%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .text_decorated_secondary-yellow {
    background: linear-gradient(to right, #fcb045 80%, #fd1d1d 140%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .text_common {
    text-align: start;
  }
  
  .main__free-services {
    align-self: start;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 14px 0;
    max-width: 100%;
    margin: 20px 0 0;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .app-container {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 341px) {

}