@font-face {
  src: url(Inter/Regular/Inter-Regular.woff2) format('woff2'), url(Inter/Regular/Inter-Regular.woff) format('woff');
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(Inter/Medium/Inter-Medium.woff2) format('woff2'), url(Inter/Medium/Inter-Medium.woff) format('woff');
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(Inter/Bold/Inter-Bold.woff2) format('woff2'), url(Inter/Bold/Inter-Bold.woff) format('woff');
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(Inter/Black/Inter-Black.woff2) format('woff2'), url(Inter/Black/Inter-Black.woff) format('woff');
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(Montserrat/Montserrat-Light.ttf) format('truetype');
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(Montserrat/Montserrat-Regular.ttf) format('truetype');
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(Montserrat/Montserrat-Medium.ttf) format('truetype');
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}