:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: url(./images/background-image.png) 0 0 / 70% no-repeat, linear-gradient(#0e1014, #0e1014);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.read-the-docs {
  color: #888;
}
