:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: url(./images/background-image-large.png) 0 0 / 87% no-repeat, linear-gradient(#0e1014, #0e1014);
}

.read-the-docs {
  color: #888;
}

@media screen and (max-width: 673px) {
  body {
    background: none, linear-gradient(#0e1014, #0e1014);
  }
}
